@using System.Web.UI.WebControls
@using DataModels.EF
@model IEnumerable<WebAnime.MVC.Areas.Admin.Models.EpisodeViewModel>

@{
    ViewBag.Title = "Quản lý tập phim";
    var anime = ViewBag.Anime as Animes;
    var servers = ViewBag.Servers as IEnumerable<Servers>;

    var currentServerId = (int)ViewBag.ServerId;
}

@if (anime != null)
{

    using (Html.BeginForm("Index","Episode",FormMethod.Get))
    {
        <div class="row my-3 d-flex justify-content-center">
            <label class="col-1 col-form-label fw-bold">Loại server</label>
            @Html.Hidden("animeId", anime.Id)
            <div class="col-4">
                @Html.DropDownList("serverId", new SelectList(servers, "Id", "Name", currentServerId),new { @class = "form-select" })
            </div>
            <div class="col-1">
                <button class="btn-primary btn w-100">Lọc</button>

            </div>
        </div>

    }

    <h2>Quản lý tập phim @anime.Title</h2>
    @Html.ActionLink("Thêm tập mới", "Create", new { animeId = anime.Id, serverId = currentServerId }, new { @class = "btn btn-primary my-2" })
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(m => m.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.Url)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.Order)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.ServerId)
                </th>
                <th>
                    Chức năng
                </th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Title
                    </td>
                    <td>
                        <a target="_blank" href="@item.Url" class="text-decoration-none">@item.Url</a>
                    </td>
                    <td>
                        @item.Order
                    </td>
                    <td>
                        @{
                            var selectedServer = (servers ?? throw new InvalidOperationException()).FirstOrDefault(x => x.Id == item.ServerId);
                            if (selectedServer != null)
                            {
                                <text>@selectedServer.Name</text>
                            }
                            else
                            {
                                <text>Đang cập nhật</text>
                            }
                        }
                    </td>
                    <td>
                        <div class="btn-group">
                            @Html.ActionLink("Sửa", "Update", "Episode", new { area = "Admin", id = item.Id }, new { @class = "btn btn-primary" })
                            @Html.ActionLink("Xoá", "Delete", "Episode", new { area = "Admin", id = item.Id }, new { @class = "btn btn-danger" })

                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h2>Không thấy anime, vui lòng tải lại</h2>
}
@section footerJs
{
    <script>
        
    </script>
}
