@model ViewModels.Admin.ScheduleViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    int animeId = ViewBag.AnimeId ?? 0;
}


@using (Html.BeginForm("Create", "Schedule", FormMethod.Post, new { id = "formCreateSchedule" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Thêm Lịch chiếu</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.AiringDate, htmlAttributes: new { @class = "control-label col-md-2 my-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AiringDate, new { htmlAttributes = new { type = "date",@class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AiringDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AiringTime, htmlAttributes: new { @class = "control-label col-md-2 my-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AiringTime, new { htmlAttributes = new { type = "time", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AiringTime, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group my-3">
            <div class="col-md-offset-2 col-md-10 ">
                <input type="submit" value="Thêm" class="btn btn-default" />
                @Html.ActionLink("Quay trở lại", "Index",new { area="Admin", animeId },new{@class= "btn btn-default" })
            </div>
        </div>
    </div>
}


