@using System.Text
@using DataModels.EF
@model IEnumerable< ViewModels.Admin.AnimeViewModel>
@{
    ViewBag.Title = "Trang quản lý anime";
    int firstServerId = (int)ViewBag.FirstServerId;
    Categories[] categoryList = ViewBag.categoryList;
}
@functions {
    string GetCategories(Categories[] categoryList, int[] categoryListIds)
    {
        var length = categoryListIds.Length;
        StringBuilder builder = new StringBuilder();
        for (int i = 0; i < length - 1; ++i)
        {
            var categoryIndex = categoryListIds[i] - 1;
            builder.Append($"{categoryList[categoryIndex].Name}, ");
            if (i == 3)
            {
                builder.Append("...");
                break;
            }
        }
        if (categoryListIds.Length < 3)
        {
            builder.Append($"{categoryList[categoryListIds[length - 1] - 1].Name}.");
        }
        return builder.ToString();
    }
}
<div class="row">
    <div class="col-auto">
        <h2>
            Trang quản lý anime
        </h2>
    </div>
    <div class="col-auto">
        @Html.ActionLink("Thêm mới", "Create", null, new { @class = "text-decoration-none btn btn-primary" })
    </div>
</div>
@if (!Model.Any())
{
    <h2>Chưa có dữ liệu gì!</h2>
}
else
{
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(x => x.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(x => x.OriginalTitle)
                </th>
                <th>
                    @Html.DisplayNameFor(x => x.Duration)

                </th>
                <th>
                    @Html.DisplayNameFor(x => x.TotalEpisodes)
                </th>
                <th>
                    @Html.DisplayNameFor(x => x.Synopsis)
                </th>
                <th>
                    @Html.DisplayNameFor(x => x.Release)
                </th>
                <th>
                    @Html.DisplayNameFor(x => x.CategoriesId)
                </th>
                <th>
                    Chức năng
                </th>
            </tr>
        </thead>

        <tbody>
            @foreach (var anime in Model)
            {
                <tr>
                    <td>@anime.Title</td>
                    <td>@anime.OriginalTitle</td>
                    <td>@anime.Duration phút</td>
                    <td>@anime.TotalEpisodes</td>
                    <td>
                        <button class="btn me-1 mb-1 btn-light-primary text-primary btn-lg px-4 fs-4 btnShowSynopsis"
                                data-bs-toggle="modal"
                                data-bs-target="#btn-anime-synopsis"
                                data-synopsis-html="@anime.Synopsis">
                            Xem
                        </button>
                    </td>
                    <td>
                        @if (anime.Release != null)
                        {
                            @anime.Release.Value.ToShortDateString()
                        }
                        else
                        {
                            <text>Không rõ</text>
                        }
                    </td>
                    <td>@GetCategories(categoryList, anime.CategoriesId)</td>

                    <td>
                        <div class="btn-group w-100">
                            @Html.ActionLink("Sửa", "Update", "Anime", new { id = anime.Id, area = "Admin" }, new { @class = "btn btn-primary text-decoration-none" })
                            @Html.ActionLink("Tập", "Index", "Episode", new { animeId = anime.Id, serverId = firstServerId, area = "Admin" }, new { @class = "btn btn-info text-white" })
                            @Html.ActionLink("Xoá", "Delete", new { id = anime.Id }, new { @class = "btn btn-danger text-decoration-none" })
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
<div>


    <!-- sample modal content -->
    <div class="modal fade"
         id="btn-anime-synopsis"
         tabindex="-1"
         aria-labelledby="bs-example-modal-lg"
         aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header d-flex align-items-center">
                    <h4 class="modal-title" id="myLargeModalLabel">
                        Nội dung anime
                    </h4>
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body animeSynopsis">

                </div>
                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-light-primary text-primary  text-start"
                            data-bs-dismiss="modal">
                        Đóng
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

@section footerJs
{
    <script>
        $(`.btnShowSynopsis`).click(function () {
            var synopsisHtml = $(this).data(`synopsisHtml`);
            $(`.animeSynopsis`).html(synopsisHtml);
        });
    </script>
}
